<!--header start-->
<%- include('partials/_head') %>
  <!--header end-->


  <!-- Hero Section -->
  <section class="pre-banner-1 parallax-bg bg-fixed fullscreen-banner valign-wrapper overlay dark-5"
    data-stellar-background-ratio="0.5">
    <div class="">
      <div class="container padding-top-120">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <h3 class="tt-headline clip is-full-width">
              <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
              <p class="lead text-regular white-text" style="margin-bottom: 0px;">Galang dana online untuk</p>
              <!-- <span>We'r </span> -->
              <span class="tt-words-wrapper">
                <b class="is-visible">Mendukung Kegiatan Sosial</b>
                <b>Donasi Jumat Berkah</b>
                <b>Bantu Teman</b>
                <b>Penggalangan Keagamaan</b>
              </span>
            </h3>
            <p class="lead text-regular white-text">From Reliance to be Allegiance</p>

            <!-- <a href="#" class="btn btn-lg pink waves-effect waves-light">Donasi Sekarang</a> -->
          </div>
        </div> <!-- row -->
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="featured-item hover-outline brand-hover radius-4" style="background-color: #03a9f4">
              <div class="icon">
                <i class="material-icons">nature_people</i>
              </div>
              <div class="desc" style="color: white;">
                <h2>Jumlah Campaign</h2>
                <h2>
                  <%= jumlahAktif %>
                </h2>
              </div>
            </div><!-- /.featured-item -->
          </div>
          <div class="col-md-4">
            <div class="featured-item hover-outline brand-hover radius-4" style="background-color: #03a9f4">
              <div class="icon">
                <i class="material-icons">verified_user</i>
              </div>
              <div class="desc" style="color: white;">
                <h2>Donasi Terkumpul</h2>
                <h2>Rp <%= totalDonasi %>
                </h2>
              </div>
            </div><!-- /.featured-item -->
          </div>
          <div class="col-md-4">
            <div class="featured-item hover-outline brand-hover radius-4" style="background-color: #03a9f4">
              <div class="icon">
                <i class="material-icons">account_circle</i>
              </div>
              <div class="white-text">
                <h2>Jumlah Donatur</h2>
                <h2>
                  <%= totalDonatur %>
                </h2>
              </div>
            </div><!-- /.featured-item -->
          </div>
        </div>
      </div><!-- /.container -->
    </div><!-- /.valign-cell -->

  </section>
  <!-- Hero Section End -->
  <!-- Grid News -->
  <section class="section-padding grid-news">
    <div class="container">

      <div class="text-center mb-80">
        <h2 class="section-title">Campaign Pilihan</h2>
        <p class="section-sub">Pilih dan salurkan donasi untuk campaign yang berarti bagi Anda. </p>
      </div>

      <div class="text-center mb-20">
        <% if (message) { %>
          <p class="section-sub" style="color: red;">
            <%= message %>
          </p>
          <% } else { %>
      </div>

      <div class="row">
        <% data.forEach(function(item) { %>
          <div class="col-md-4">
            <article class="post-wrapper">
              <div class="thumb-wrapper waves-effect waves-block waves-light">
                <a href="/all/detail/<%= item.id_campaign %>"><img src="/images/<%= item.foto_campaign %>"
                    class="img-responsive" alt=""></a>
              </div><!-- .post-thumb -->

              <div class="blog-content">
                <header class="entry-header-wrapper">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="/all/detail/<%= item.id_campaign %>">
                        <%= item.judul %>
                      </a></h2>

                    <div class="entry-meta">
                      <ul class="list-inline">
                        <li>
                          <img src="/assets/img/target-money.png" alt="target" srcset=""> Rp.
                          <%= item.target_dana %>
                        </li>
                        <li>
                          <i class="fa fa-clock-o"></i>
                          <%= item.tanggal_berakhir %>
                        </li>
                      </ul>
                    </div><!-- .entry-meta -->
                  </div><!-- /.entry-header -->
                </header><!-- /.entry-header-wrapper -->

                <div class="entry-content">
                  <p>
                    <%= item.deskripsi %>
                  </p>
                </div><!-- .entry-content -->

                <footer class="entry-footer">
                  <ul class="list-inline pull-left">
                    <!--  <li><a href="#"><i class="fa fa-heart-o"></i> 20</a></li>
                                 <li><a href="#"><i class="fa fa-comments"></i> 20</a></li>
                                 <li><a href="#"><i class="fa fa-share-alt"></i> Share</a></li> -->
                    <li>Dana Terkumpul</li>
                  </ul>
                  <div class="readmore pull-right">Rp. <%= item.dana_terkumpul %>
                  </div>
                </footer>

              </div><!-- /.blog-content -->

            </article><!-- /.post-wrapper -->
          </div><!-- /.col-md-4 -->
          <% }); %>
            <% } %>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
  <!-- Grid News End -->
  <section class="section-padding pre-banner-2 bg-fixed parallax-bg overlay light-7"
    data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="text-center">
        <h1 class="text-uppercase text-bold font-30">Jadilah Donatur</h1>
        <p class="text font-20">Bersedekah membuat kita semakin kaya </p>
        <a href="/all" class="btn btn-lg pink waves-effect waves-light">Show All Campaign</a>
      </div>
    </div><!-- /.container -->
  </section>
  <hr />
  <section class="section-padding gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-7">

          <h2 class="section-title text-capitalize mb-30">Sekilas Tentang Website<br>Bantu Teman</h2>

          <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam iusto libero consequatur
            quae sapiente dolores esse quaerat exercitationem molestiae alias, rerum atque rem similique asperiores
            nesciunt accusamus harum autem provident.
          </p>


        </div><!-- /.col-md-7 -->

        <div class="col-md-5 mt-sm-50">
          <div class="gallery-thumb">
            <ul class="slides">
              <li data-thumb="assets/img/pantiasuhan.jpg">
                <img src="/assets/img/pantiasuhan.jpg" alt="image">
              </li>
              <li data-thumb="assets/img/pantiasuhan-2.jpg">
                <img src="/assets/img/pantiasuhan-2.jpg" alt="image">
              </li>
              <li data-thumb="assets/img/pantiasuhan-3.jpg">
                <img src="/assets/img/pantiasuhan-3.jpg" alt="image">
              </li>
              <li data-thumb="assets/img/pantiasuhan-4.jpg">
                <img src="/assets/img/pantiasuhan-4.jpg" alt="image">
              </li>
            </ul>
          </div><!-- /.gallery-thumb -->
        </div><!-- /.col-md-5 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  <section class="section-padding">
    <div class="container">

      <div class="text-center mb-80">
        <h2 class="section-title text-uppercase">Quotes</h2>
        <p class="section-sub">"Sesungguhnya sedekah seorang Muslim menambah umur, mencegah kematian yang buruk, dan
          Allah akan menghilangkan sifat sombong, kefakiran, serta kesombongan darinya."<br> — HR. Thabrani</p>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="icon-tab">

            <!-- Nav tabs -->
            <div class="text-center">
              <ul class="nav nav-pills" role="tablist">

                <li role="presentation" class="active"><a href="#icontab-1" class="waves-effect waves-light" role="tab"
                    data-toggle="tab"> <i class="material-icons">&#xE7FD;</i></a></li>

                <li role="presentation"><a href="#icontab-2" class="waves-effect waves-light" role="tab"
                    data-toggle="tab"> <i class="material-icons">&#xE90F;</i></a></li>

                <li role="presentation"><a href="#icontab-3" class="waves-effect waves-light" role="tab"
                    data-toggle="tab"> <i class="material-icons">&#xE8E5;</i></a></li>

              </ul>
            </div>

            <!-- Tab panes -->
            <div class="panel-body mt-40">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="icontab-1">

                  <div class="row">
                    <div class="col-md-6">
                      <h2 class="text-bold mb-40 justify">About us</h2>
                      <p>Reliance Generation Merupakan alumni Pondok Pesantren Modern <a
                          href="http://al-mizan.sch.id">Al-Mizan</a> angkatan 2011, alumni-alumni kami sudah menyebar
                        ke beberapa kota di Indonesia. Ada yang sudah kuliah maupun bekerja, Alhamdulillah pada
                        Ramadhan tahun ini kami berkesempatan untuk mengadakan bakti sosial dan buka bersama dengan
                        anak yatin piatu yang terletak di daerah Tangerang</p>
                    </div>

                    <div class="col-md-6">
                      <img src="assets/img/reliance-small.png" alt="Reliance Generation" class="img-responsive">
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade in " id="icontab-2">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="text-bold mb-40">Dasar Pemikiran</h2>
                      <p>Bulan Ramadhan telah tiba. Inilah bulan penuh berkah. Setiap muslim yang mendambakan rahmat
                        dari Rabb-nya, merindukan maghfirah-Nya, dan berharap keberkahan dari-Nya, pasti akan
                        bergembira menyambut tamu agung ini. Inilah bulan dimana kita dapat mengumpulkan sebanyak
                        mungkin pahala dari Allah melalui berbagai amal shaleh yang telah Allah perintahkan.
                        Jika kita cermat dan bersungguh-sungguh mencari pahala Allah, maka Ramadhan adalah momentum
                        yang paling tepat untuk melakukannya. Karena dibulan ini, kita tidak hanya dapat meraih pahala
                        dari amalan kita sendiri, tapi kita juga bisa melipatgandakannya dengan cara beramal untuk
                        orang lain, sebagaimana sabda Rasulullah shallallahu alaihi wa sallam:
                      <h3 style="direction: rtl;">
                        مَنْ فَطَرَ صَائِمًا كَانَ لَهُ مِثْلُ أَجْرِهِ غَيْرَ أَنَّهُ لَا يَنْقُصُ مِنْ أَجْرِ
                        الصَائِمِ شَيْءٌ (رواه الترمذي وقال حديث حسن صحيح)
                      </h3>
                      <blockquote>
                        “Barangsiapa yang memberi makanan berbuka bagi orang berpuasa, maka baginya pahala yang
                        semisal orang yang berpuasa tersebut tanpa mengurangi pahala orang yang berpuasa tersebut
                        sedikitpun.” (HR. At Tirmidzi, beliau berkata, “Hadits Hasan Shahih”)
                      </blockquote>
                      </p>
                    </div>


                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="icontab-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="text-bold mb-40">Tujuan Acara Ini</h2>
                      <div class="col-md-4 mb-30">
                        <div class="featured-item border-box radius-4 hover brand-hover equal-height-column z-depth-1">
                          <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE7FB;</i>
                          </div>
                          <div class="desc">
                            <h2>Menyantuni Anak Yatim</h2>
                            <p>Sebagai makhluk sosial kita harus peduli dan saling menolong antar sesama ummat Muslim
                              dan muslimat, salah satunya adalah dengan memberikan / menyantuni anak yatim piatu dan
                              orang-orang yang kurang mampu</p>
                          </div>
                        </div><!-- /.featured-item -->
                      </div><!-- /.col-md-4 -->
                      <div class="col-md-4 mb-30">
                        <div class="featured-item border-box radius-4 hover brand-hover equal-height-column z-depth-1">
                          <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE32A;</i>
                          </div>
                          <div class="desc">
                            <h2>Menjalin Silaturrahmi Antar Seksama</h2>
                            <p>Kullu Bani Aadama Ikhwan - Setiap keturunan nabi Adam AS adalah sodara, sudah menjadi
                              kewajiban bagi kita untuk saling menjaga silaturrahmi antar seksama</p>
                          </div>
                        </div><!-- /.featured-item -->
                      </div><!-- /.col-md-4 -->
                      <div class="col-md-4 mb-30">
                        <div class="featured-item border-box radius-4 hover brand-hover equal-height-column z-depth-1">
                          <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE32A;</i>
                          </div>
                          <div class="desc">
                            <h2>Menjadi fasilitas para donator untuk bersedekah</h2>
                            <p>Menjadi fasilitas para donator untuk bersedekah secara Online, terbuka dan accountable
                              / setiap dana yang keluar akan kami laporkan melalui email.</p>
                          </div>
                        </div><!-- /.featured-item -->
                      </div><!-- /.col-md-4 -->
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div><!-- /.icon-tab -->

        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
  <!--footer 4 start -->
  <%- include('partials/_foot') %>
    <!--footer 4 end-->


    <!-- Preloader -->

    <!-- End Preloader -->
    <div class="preloader-background">
      <div class="preloader-wrapper big active">
        <div id="loader-wrapper">
          <div id="loader"></div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.3.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/materialize/js/materialize.min.js"></script>
    <script src="/assets/js/menuzord.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/jquery.sticky.min.js"></script>
    <script src="/assets/js/smoothscroll.min.js"></script>
    <script src="/assets/js/animated-headline.js"></script>
    <script src="/assets/js/jquery.stellar.min.js"></script>
    <script src="/assets/js/imagesloaded.js"></script>
    <script src="/assets/js/jquery.inview.min.js"></script>
    <script src="/assets/js/jquery.shuffle.min.js"></script>
    <script src="/assets/owl.carousel/owl.carousel.min.js"></script>
    <script src="/assets/flexSlider/jquery.flexslider-min.js"></script>
    <script src="/assets/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script type="text/javascript">
      $(window).load(function () {
        $('.preloader-wrapper').fadeOut();
        $('.preloader-background').delay(350).fadeOut('slow');
      });

    </script>
    </body>

    </html>